body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background:#f2f2f2;
}

button{
    padding:10px 20px;
    margin:10px;
    cursor:pointer;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
}

button:hover{
    background:#0056b3;
}

.imagem img{
    width:200px;
    cursor:pointer;
    border-radius:10px;
}

.popup{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
}

.conteudo{
    background:white;
    width:350px;
    margin:100px auto;
    padding:20px;
    border-radius:10px;
    position:relative;
}

.fechar{
    position:absolute;
    right:15px;
    top:10px;
    font-size:25px;
    cursor:pointer;
}

#imagemGrande{
    width:100%;
    border-radius:10px;
}

input{
    width:90%;
    padding:8px;
}